@plugin 'tailwindcss-animate';

/** Colors **/
:root {
  /** Base Colors **/
  --background: oklch(1 0 0); /* --color-white */
  --foreground: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --card: oklch(1 0 0); /* --color-white */
  --card-foreground: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --popover: oklch(1 0 0); /* --color-white */
  --popover-foreground: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --primary: oklch(62.91% 0.202 294.7); /* purple-600 #9333ea */
  --primary-foreground: oklch(1 0 0); /* --color-white */
  --secondary: oklch(96.7% 0.003 264.542); /* --color-zinc-100 */
  --secondary-foreground: oklch(44.6% 0.03 256.802); /* --color-zinc-600 */
  --muted: oklch(96.7% 0.003 264.542); /* --color-zinc-100 */
  --muted-foreground: oklch(70.5% 0.015 286.067); /* --color-zinc-400 */
  --accent: oklch(96.7% 0.003 264.542); /* --color-zinc-100 */
  --accent-foreground: oklch(21% 0.006 285.885); /* --color-zinc-900 */
  --destructive: oklch(57.7% 0.245 27.325); /* --color-red-600 */
  --destructive-foreground: oklch(1 0 0); /* --color-white */
  --mono: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */
  --mono-foreground: oklch(1 0 0); /* --color-white */

  /** Status Colors **/
  --status-completed: oklch(96.8% 0.007 136.746); /* green-100 */
  --status-completed-foreground: oklch(62.8% 0.152 145.4); /* green-600 */
  
  --status-inprogress: oklch(96.11% 0.009 245.24); /* blue-100 */
  --status-inprogress-foreground: oklch(62.6% 0.179 255.8); /* blue-600 */
  
  --status-abandoned: oklch(96.66% 0.01 55.42); /* orange-100 */
  --status-abandoned-foreground: oklch(68.8% 0.165 47.3); /* orange-600 */
  
  --status-cancelled: oklch(96.7% 0.003 264.542); /* zinc-100 */
  --status-cancelled-foreground: oklch(70.5% 0.015 286.067); /* zinc-400 */
  
  --status-skipped: oklch(97.6% 0.011 88.6); /* yellow-100 */
  --status-skipped-foreground: oklch(65.6% 0.141 82.5); /* yellow-600 */
  
  --status-upcoming: oklch(98.24% 0.004 52.82); /* seashell / warm gray */
  --status-upcoming-foreground: oklch(44.6% 0.03 256.802); /* zinc-600 */

  /** Base Styles **/
  --border: oklch(
    94% 0.004 286.32
  ); /* between --color-zinc-100 and --color-zinc-200 */
  --input: oklch(92% 0.004 286.32); /* --color-zinc-200 */
  --ring: oklch(87.1% 0.006 286.286); /* --color-zinc-400 */
  --radius: 0.5rem;
}

.dark {
  /** Base Colors **/
  --background: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */
  --foreground: oklch(98.5% 0 0); /* --color-zinc-50 */
  --card: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */
  --card-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */
  --popover: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */
  --popover-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */
  --primary: oklch(62.91% 0.202 294.7); /* purple-600 */
  --primary-foreground: oklch(1 0 0); /* --color-white */
  --secondary: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --secondary-foreground: oklch(70.5% 0.015 286.067); /* --color-zinc-400 */
  --muted: oklch(21% 0.006 285.885); /* --color-zinc-900 */
  --muted-foreground: oklch(55.2% 0.016 285.938); /* --color-zinc-500 */
  --accent: oklch(21% 0.006 285.885); /* --color-zinc-900 */
  --accent-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */
  --destructive: oklch(57.7% 0.245 27.325); /* --color-red-600 */
  --destructive-foreground: oklch(1 0 0); /* --color-white */
  --mono: oklch(87.1% 0.006 286.286); /* --color-zinc-300 */
  --mono-foreground: oklch(0 0 0); /* --color-black */

  /** Status Colors (Dark Mode) **/
  --status-completed: oklch(23.4% 0.062 136.7); /* green-900/30 */
  --status-completed-foreground: oklch(86.6% 0.124 145.4); /* green-300 */
  
  --status-inprogress: oklch(23.1% 0.073 255.8); /* blue-900/30 */
  --status-inprogress-foreground: oklch(85.8% 0.129 255.8); /* blue-300 */
  
  --status-abandoned: oklch(25.8% 0.072 47.3); /* orange-900/30 */
  --status-abandoned-foreground: oklch(87.1% 0.128 47.3); /* orange-300 */
  
  --status-cancelled: oklch(27.4% 0.006 286.033); /* zinc-800 */
  --status-cancelled-foreground: oklch(70.5% 0.015 286.067); /* zinc-400 */
  
  --status-skipped: oklch(24.6% 0.062 82.5); /* yellow-900/30 */
  --status-skipped-foreground: oklch(88.4% 0.118 82.5); /* yellow-300 */
  
  --status-upcoming: oklch(21% 0.006 285.885); /* zinc-900 */
  --status-upcoming-foreground: oklch(70.5% 0.015 286.067); /* zinc-400 */

  /** Base Styles **/
  --border: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --input: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --ring: oklch(27.4% 0.006 286.033); /* --color-zinc-600 */
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-mono: var(--mono);
  --color-mono-foreground: var(--mono-foreground);

  /** Status Colors **/
  --color-status-completed: var(--status-completed);
  --color-status-completed-foreground: var(--status-completed-foreground);
  
  --color-status-inprogress: var(--status-inprogress);
  --color-status-inprogress-foreground: var(--status-inprogress-foreground);
  
  --color-status-abandoned: var(--status-abandoned);
  --color-status-abandoned-foreground: var(--status-abandoned-foreground);
  
  --color-status-cancelled: var(--status-cancelled);
  --color-status-cancelled-foreground: var(--status-cancelled-foreground);
  
  --color-status-skipped: var(--status-skipped);
  --color-status-skipped-foreground: var(--status-skipped-foreground);
  
  --color-status-upcoming: var(--status-upcoming);
  --color-status-upcoming-foreground: var(--status-upcoming-foreground);

  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/** Custom Font Size **/
@theme {
  --text-2sm: 0.8125rem;
  --text-2sm--line-height: calc(1.075 / 0.8125);

  --text-2xs: 0.6875rem;
  --text-2xs--line-height: calc(0.825 / 0.6875);
}
